/* Common styles for body */
body {
    font-family: Arial, sans-serif;
}

/* Mentor/Mentee Selection Page */
.selection-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 50px;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 40%;
    background-color: #f9f9f9;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    margin: 10px 0;
}
.signup-box{
    margin-top: 20px;;
}

/* Login and Signup Pages */
.login-container, .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top:20px;
}
.full{
    display: flex;
    flex-direction: column;
    gap:0;
}

.login-box, .signup-box {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
label{
    text-align: start;
    margin-bottom: 5px;
}

h1 {
    /* margin-bottom: 5px; */
    color: #333;
}
.head{
    text-align: center;
}
.para{
    font-size: 15px;
    margin-bottom:5px;
    /* font-weight: 700; */
}
#drona{
    color:#3D84A8;
    text-align: center;
    margin-bottom: 20px;
}

.google-btn {
    text-align: center;
    padding:5px 60px;
    margin-bottom:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #555;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    /* padding: 10px 20px; */
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color:white;
    color: black;
    border: 2px solid #3D84A8;
}

.google-btn img {
    margin-right: 10px;
}

.google-btn:hover {
    background-color: #f5f5f5;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border:2px solid #3D84A8
}

button {
    padding: 10px;
    background-color: #3D84A8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top:5px;
}

 
